%footer
  .wrapper
    .row
      .col-footer
        .title
          ='COMPANY'
        %hr
        %ul
          %li
            = link_to 'About Us', '/en/infos/about'
          %li
            = link_to 'Terms of Use', '/en/infos/terms'
          %li
            = link_to 'Privacy', '/en/infos/privacy'
      .col-footer
        .title
          ='SUPPORT'
        %hr
        %ul
          %li
            = link_to 'How it Works', '/en/infos/how_to_use'
          %li
            = link_to 'Contact Us', '/en/user_feedbacks/new'
      .col-footer
        .title
          ='LINKS'
        %hr
        %ul
          %li
            = link_to 'Blog', '#'
      .col-footer.socialbox
        .title
          = 'IN SOCIAL NETWORKS'
        %hr
        %ul
          %li
            = link_to '#' do
              %i.fa.fa-twitter-square
          %li
            = link_to '#' do
              %i.fa.fa-facebook-square
          %li
            = link_to '#' do
              %i.fa.fa-google-plus-square
          %li
            = link_to '#' do
              %i.fa.fa-linkedin-square
  .copyright
    ='2018 RS Marketplaces'