%footer
  .wrapper
    .row
      .col-footer
        .title
          ='COMPANY'
        %hr
        %ul
          %li
            = link_to 'About Us', '#'
          %li
            = link_to 'Careers', '#'
          %li
            = link_to 'Press', '#'
          %li
            = link_to 'Newsroom', '#'
          %li
            = link_to 'Terms & Conditions', '#'
      .col-footer
        .title
          ='FOR OWNERS'
        %hr
        %ul
          %li
            = link_to 'How Much Can I Earn', '#'
          %li
            = link_to 'Insurance', '#'
          %li
            = link_to 'Sign Up', '#'
      .col-footer
        .title
          ='ADVENTURES'
        %hr
        %ul
          %li
            = link_to 'Roadside Assistance', '#'
          %li
            = link_to 'Gift Cards', '#'
      .col-footer
        .title
          ='SUPPORT'
        %hr
        %ul
          %li
            = link_to 'How it Works', '#'
          %li
            = link_to 'Commonly Asked Questions', '#'
          %li
            = link_to 'Contact Us', '#'
      .col-footer
        .title
          ='LINKS'
        %hr
        %ul
          %li
            = link_to 'Blog', '#'
    .socialbox
      .title
        = 'in social networks:'
      %ul
        %li
          = link_to '#' do
            %i.icon-twitter
        %li
          = link_to '#' do
            %i.icon-facebook
        %li
          = link_to '#' do
            %i.icon-google-plus
  .copyright
    ='2018 RS Marketplaces'